body {
	background-color: #E3E3E3;
	margin: auto;
}

#mobileWarning {
    display: none;
    visibility: hidden;
    color: cornflowerblue;
    text-shadow: 3px 2px red;
}

h1 {
	font-family: arial;
    color: black;
}

h2 {
	color: black;
}

#maintext {
    text-align: center;
}

.upperPics {
    max-width: 75%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#meInHat {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.links {
	font-family: arial;
    color: black;
	text-align: center;
}

.button {
    background-color: #C84630;
    border: none;
    color: #E3E3E3;
	padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }

.button:hover {
    background-color: #C6596B;
  }

.col-container {
    display: flex;
    width: 100%;
    }

/* from w3schools Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    flex: 1;
    padding: 16px;
}

@media only screen and (max-width: 600px) {
    .col { 
        display: block;
        width: 100%;
    }
    #mobileWarning {
    display: block;
    visibility: visible;
    }
}


/* from w3schools Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}