body {
	background-color: #E3E3E3;
}

h1 {
	font-family: arial;
    color: black;
}

h2 {
	color: black;
}

.links {
	font-family: arial;
    color: black;
	text-align: center;
}

.button {
    background-color: #C84630;
    border: none;
    color: #E3E3E3;
	padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
.button:hover {
    background-color: #C6596B;
  }
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}